Language: Cpp

BasedOnStyle: Google
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: false
  AfterControlStatement: MultiLine
  AfterFunction: false
  AfterNamespace: false
  BeforeCatch: true
  BeforeElse: true
ColumnLimit: 80
PackConstructorInitializers: BinPack
FixNamespaceComments: true
IndentCaseLabels: true
IndentWidth: 4
IndentWrappedFunctionNames: true
IndentPPDirectives: AfterHash
SortIncludes:
  Enabled: true
  IgnoreCase: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"[a-zA-Z\._-]+(/[a-zA-Z0-9\._-]+)*"$'
    Priority: 1
  - Regex: '^<Q[a-zA-Z0-9\._\/-]+>$'
    Priority: 3
    CaseSensitive: true
  - Regex: "^<[a-zA-Z_]+>$"
    Priority: 4
  - Regex: ".*"
    Priority: 4
NamespaceIndentation: Inner
SpacesBeforeTrailingComments: 2
Standard: Auto
ReflowComments: Never
InsertNewlineAtEOF: true